Repository tensorflow/tfx-addons, changes with the owners that CODEOWNERS names for each.
All owners: @rcrowe-google, @theadactyl, @casassg, @hanneshapke, @junbopark, @marcromeyn, @michalbrys, @pselden, @rclough, @vulkomilev, @TheMichaelHu, @1025KB, @codesue, @pratishtha-abrol, @FatimahAdwan, @deutranium, @nirzu97, @kindalime, @cent5, @BACtaki, @wihanbooyse, @deep-diver, @sayakpaul

bump feast version support (#154)
  tfx_addons/version.py
Owners: @casassg, @hanneshapke, @junbopark, @marcromeyn, @michalbrys, @pselden, @rclough

bump feast version support (#154)
  tfx_addons/version.py
Owners: @casassg, @hanneshapke, @junbopark, @marcromeyn, @michalbrys, @pselden, @rclough

Initial commit
  tfx_addons/pandas_transform/__init__.py
  tfx_addons/pandas_transform/component.py
  tfx_addons/pandas_transform/component_test.py
  tfx_addons/pandas_transform/null_preprocessing.py
Owners: @rcrowe-google, @theadactyl

Fixing lint
  tfx_addons/pandas_transform/component.py
  tfx_addons/pandas_transform/component_test.py
  tfx_addons/pandas_transform/null_preprocessing.py
Owners: @rcrowe-google, @theadactyl

More lint
  tfx_addons/pandas_transform/component.py
  tfx_addons/pandas_transform/component_test.py
  tfx_addons/pandas_transform/null_preprocessing.py
Owners: @rcrowe-google, @theadactyl

Yet more lint
  tfx_addons/pandas_transform/null_preprocessing.py
Owners: @rcrowe-google, @theadactyl

Oops, whitespace
  tfx_addons/pandas_transform/null_preprocessing.py
Owners: @rcrowe-google, @theadactyl

Unused imports
  tfx_addons/pandas_transform/__init__.py
  tfx_addons/pandas_transform/component.py
  tfx_addons/pandas_transform/component_test.py
Owners: @rcrowe-google, @theadactyl

More cleanup
  tfx_addons/pandas_transform/component.py
Owners: @rcrowe-google, @theadactyl

Misc cleanup
  tfx_addons/pandas_transform/component.py
  tfx_addons/pandas_transform/null_preprocessing.py
Owners: @rcrowe-google, @theadactyl

Fixed a couple of things
  tfx_addons/pandas_transform/component.py
Owners: @rcrowe-google, @theadactyl

Fixing astype
  tfx_addons/pandas_transform/component.py
Owners: @rcrowe-google, @theadactyl

Disabling unnecessary-comprehension
  tfx_addons/pandas_transform/component.py
Owners: @rcrowe-google, @theadactyl

Oops, wrong comprehension
  tfx_addons/pandas_transform/component.py
Owners: @rcrowe-google, @theadactyl

Trying to improve version handling
  tfx_addons/pandas_transform/component.py
Owners: @rcrowe-google, @theadactyl

Order of imports
  tfx_addons/pandas_transform/component.py
Owners: @rcrowe-google, @theadactyl

Removing reimport
  tfx_addons/pandas_transform/component.py
Owners: @rcrowe-google, @theadactyl

Adding version check to tests
  tfx_addons/pandas_transform/component_test.py
Owners: @rcrowe-google, @theadactyl

Missed the beam pipeline on the min
  tfx_addons/pandas_transform/component_test.py
Owners: @rcrowe-google, @theadactyl

Indents on the test params
  tfx_addons/pandas_transform/component_test.py
Owners: @rcrowe-google, @theadactyl

Lint wants the else formatted differently
  tfx_addons/pandas_transform/component_test.py
Owners: @rcrowe-google, @theadactyl

PyTorch TFX proposal
  proposals/20220802-project_pytorch_example.md
Owners: @rcrowe-google

filter component commit
  tfx_addons/example_filter/__init__.py
  tfx_addons/example_filter/component.py
  tfx_addons/example_filter/component_test.py
  tfx_addons/example_filter/executor.py
  tfx_addons/example_filter/executor_test.py
  tfx_addons/example_filter/labels.py
Owners: @rclough

Adding an example and update to pydoc for component
  examples/pandas_transform/pandas_transform_example.ipynb
  tfx_addons/pandas_transform/component.py
Owners: @rcrowe-google, @theadactyl

initial predictions-to-bigquery component
  tfx_addons/predictions_to_biquery/__init__.py
  tfx_addons/predictions_to_biquery/component.py
  tfx_addons/predictions_to_biquery/executor.py
  tfx_addons/predictions_to_biquery/test_component.py
  tfx_addons/predictions_to_biquery/utils.py
Owners: @rcrowe-google, @theadactyl

Adding README and release notes
  tfx_addons/pandas_transform/README.md
  tfx_addons/pandas_transform/RELEASE.md
Owners: @rcrowe-google, @theadactyl

add feature_selection to included pkg
  tfx_addons/version.py
Owners: @casassg, @hanneshapke, @junbopark, @marcromeyn, @michalbrys, @pselden, @rclough

Added beam_pipeline_args, updated README
  tfx_addons/pandas_transform/README.md
  tfx_addons/pandas_transform/component.py
Owners: @rcrowe-google, @theadactyl

Trying to fix lint
  tfx_addons/pandas_transform/component.py
Owners: @rcrowe-google, @theadactyl

Adding dependencies
  tfx_addons/version.py
Owners: @casassg, @hanneshapke, @junbopark, @marcromeyn, @michalbrys, @pselden, @rclough

Lint, maybe yapf fixes
  tfx_addons/pandas_transform/component.py
  tfx_addons/version.py
Owners: @rcrowe-google, @theadactyl, @casassg, @hanneshapke, @junbopark, @marcromeyn, @michalbrys, @pselden, @rclough

Trying to fix formatting
  tfx_addons/pandas_transform/component.py
  tfx_addons/pandas_transform/component_test.py
Owners: @rcrowe-google, @theadactyl

upgrade tfx to avoid beam issue in sklearn example
  examples/sklearn_penguins/requirements.txt
Owners: @TheMichaelHu, @1025KB

fix due to upgrade of tfma
  examples/sklearn_penguins/sklearn_predict_extractor.py
Owners: @TheMichaelHu, @1025KB

fix missing 1 types
  examples/sklearn_penguins/sklearn_predict_extractor.py
Owners: @TheMichaelHu, @1025KB

format inline
  examples/sklearn_penguins/sklearn_predict_extractor.py
Owners: @TheMichaelHu, @1025KB

update extractor test
  examples/sklearn_penguins/sklearn_predict_extractor_test.py
Owners: @TheMichaelHu, @1025KB

CODEOWNERS:

# Global owners for SIG TFX-Addons
* @rcrowe-google @theadactyl

# Core team for reviews of project proposals and main distribution files
/proposals/ @rcrowe-google
/tfx_addons/__init__.py  @casassg @hanneshapke @junbopark @marcromeyn @michalbrys @pselden @rclough
/tfx_addons/version.py  @casassg @hanneshapke @junbopark @marcromeyn @michalbrys @pselden @rclough
/setup.py  @casassg @hanneshapke @junbopark @marcromeyn @michalbrys @pselden @rclough
/pyproject.toml  @casassg @hanneshapke @junbopark @marcromeyn @michalbrys @pselden @rclough


# CI configuration (for now owned by @casassg)
/.github/workflows/*.yml @casassg @vulkomilev
/.github/ci  @casassg @vulkomilev


# Sci-Kit Learn Example using the Penguins dataset
/examples/sklearn_penguins/ @TheMichaelHu @1025KB

# MLMD Client Library
/tfx_addons/mlmd_client/ @codesue @pselden @casassg

# ExampleFilter Component
/tfx_addons/example_filter/ @rclough

# Schema Curation Component
/tfx_addons/schema_curation/ @pratishtha-abrol @FatimahAdwan @deutranium @nirzu97

# XGBoost Evaluator Component
/tfx_addons/xgboost_evaluator @kindalime @cent5 @casassg
/examples/xgboost_penguins @kindalime @cent5 @casassg

# Sampling Component
/tfx_addons/sampling @kindalime @cent5 @casassg

# Feast ExampleGen Component
/tfx_addons/feast_examplegen @BACtaki @casassg @wihanbooyse 
/examples/fraud_feast @BACtaki @casassg @wihanbooyse

# Feature Selection Component
/tfx_addons/feature_selection @nirzu97 @pratishtha-abrol @FatimahAdwan @deutranium

# Firebase Publisher
/tfx_addons/firebase_publisher @deep-diver @sayakpaul

# Message Exit Handler
/tfx_addons/message_exit_handler @hanneshapke
