Repository tensorflow/tfx-addons, changes with the owners that CODEOWNERS names for each.
All owners: @rcrowe-google, @theadactyl, @casassg, @hanneshapke, @junbopark, @marcromeyn, @michalbrys, @pselden, @rclough, @vulkomilev, @TheMichaelHu, @1025KB, @codesue, @pratishtha-abrol, @FatimahAdwan, @deutranium, @nirzu97, @kindalime, @cent5, @BACtaki, @wihanbooyse, @deep-diver, @sayakpaul

CODEOWNERS:

# Global owners for SIG TFX-Addons
* @rcrowe-google @theadactyl

# Core team for reviews of project proposals and main distribution files
/proposals/ @rcrowe-google
/tfx_addons/__init__.py  @casassg @hanneshapke @junbopark @marcromeyn @michalbrys @pselden @rclough
/tfx_addons/version.py  @casassg @hanneshapke @junbopark @marcromeyn @michalbrys @pselden @rclough
/setup.py  @casassg @hanneshapke @junbopark @marcromeyn @michalbrys @pselden @rclough
/pyproject.toml  @casassg @hanneshapke @junbopark @marcromeyn @michalbrys @pselden @rclough


# CI configuration (for now owned by @casassg)
/.github/workflows/*.yml @casassg @vulkomilev
/.github/ci  @casassg @vulkomilev


# Sci-Kit Learn Example using the Penguins dataset
/examples/sklearn_penguins/ @TheMichaelHu @1025KB

# MLMD Client Library
/tfx_addons/mlmd_client/ @codesue @pselden @casassg

# ExampleFilter Component
/tfx_addons/example_filter/ @rclough

# Schema Curation Component
/tfx_addons/schema_curation/ @pratishtha-abrol @FatimahAdwan @deutranium @nirzu97

# XGBoost Evaluator Component
/tfx_addons/xgboost_evaluator @kindalime @cent5 @casassg
/examples/xgboost_penguins @kindalime @cent5 @casassg

# Sampling Component
/tfx_addons/sampling @kindalime @cent5 @casassg

# Feast ExampleGen Component
/tfx_addons/feast_examplegen @BACtaki @casassg @wihanbooyse 
/examples/fraud_feast @BACtaki @casassg @wihanbooyse

# Feature Selection Component
/tfx_addons/feature_selection @nirzu97 @pratishtha-abrol @FatimahAdwan @deutranium

# Firebase Publisher
/tfx_addons/firebase_publisher @deep-diver @sayakpaul

# Message Exit Handler
/tfx_addons/message_exit_handler @hanneshapke

Update examples for feature selection component (#116)
  tfx_addons/feature_selection/example/Examples.ipynb
  tfx_addons/feature_selection/example/Iris_example_colab.ipynb
  tfx_addons/feature_selection/example/Palmer_Penguins_example_colab.ipynb
  tfx_addons/feature_selection/example/Pima_Indians_Diabetes_example_colab.ipynb
  tfx_addons/feature_selection/example/modules/iris_module_file.py
  tfx_addons/feature_selection/example/modules/penguins_module.py
  tfx_addons/feature_selection/example/modules/pima_indians_module_file.py
  tfx_addons/feature_selection/module_file.py
Owners: @nirzu97, @pratishtha-abrol, @FatimahAdwan, @deutranium

include TFX 1.8
  tfx_addons/version.py
Owners: @casassg, @hanneshapke, @junbopark, @marcromeyn, @michalbrys, @pselden, @rclough

increase CI
  .github/workflows/ci.yml
Owners: @casassg, @vulkomilev

switch cache key to constaint first
  .github/workflows/ci.yml
Owners: @casassg, @vulkomilev

remove shared cache
  .github/workflows/ci_examples.yml
Owners: @casassg, @vulkomilev

fix exit handler
  tfx_addons/message_exit_handler/component.py
Owners: @hanneshapke

fix patch issues
  tfx_addons/message_exit_handler/component_test.py
Owners: @hanneshapke

reformating yapf
  tfx_addons/message_exit_handler/component_test.py
Owners: @hanneshapke

Fix bad link in xgboost_evaluator (#145)
  README.md
Owners: @rcrowe-google, @theadactyl

Fix bad link in xgboost_evaluator (#145)
  README.md
Owners: @rcrowe-google, @theadactyl

v0.2.3
  tfx_addons/version.py
Owners: @casassg, @hanneshapke, @junbopark, @marcromeyn, @michalbrys, @pselden, @rclough

Initial commit with working tests
  tfx_addons/feature_selection/component_test.py
Owners: @nirzu97, @pratishtha-abrol, @FatimahAdwan, @deutranium

cleaned and ensured the file is working with pre-commit
  tfx_addons/feature_selection/component_test.py
Owners: @nirzu97, @pratishtha-abrol, @FatimahAdwan, @deutranium

Added release notes for feature selection component
  tfx_addons/feature_selection/RELEASE.md
Owners: @nirzu97, @pratishtha-abrol, @FatimahAdwan, @deutranium

Updated readme with module file guidelines and example
  tfx_addons/feature_selection/README.md
Owners: @nirzu97, @pratishtha-abrol, @FatimahAdwan, @deutranium

Increase supported version from TFX <1.8 to <1.9 (#147)
  .github/workflows/ci.yml
  .github/workflows/ci_examples.yml
  tfx_addons/message_exit_handler/component.py
  tfx_addons/message_exit_handler/component_test.py
  tfx_addons/version.py
Owners: @casassg, @vulkomilev, @hanneshapke, @junbopark, @marcromeyn, @michalbrys, @pselden, @rclough

Increase supported version from TFX <1.8 to <1.9 (#147)
  .github/workflows/ci.yml
  .github/workflows/ci_examples.yml
  tfx_addons/message_exit_handler/component.py
  tfx_addons/message_exit_handler/component_test.py
  tfx_addons/version.py
Owners: @casassg, @vulkomilev, @hanneshapke, @junbopark, @marcromeyn, @michalbrys, @pselden, @rclough

0.2.4
  tfx_addons/version.py
Owners: @casassg, @hanneshapke, @junbopark, @marcromeyn, @michalbrys, @pselden, @rclough

pin pip
  .github/workflows/ci.yml
Owners: @casassg, @vulkomilev

Update ci.yml
  .github/workflows/ci.yml
Owners: @casassg, @vulkomilev

use requirements max and min instead
  .github/ci/deps/requirements_max.in
  .github/ci/deps/requirements_min.in
  .github/workflows/ci.yml
  setup.py
Owners: @casassg, @vulkomilev, @hanneshapke, @junbopark, @marcromeyn, @michalbrys, @pselden, @rclough

add missing letter
  .github/workflows/ci.yml
Owners: @casassg, @vulkomilev

fix using -r option
  .github/workflows/ci.yml
Owners: @casassg, @vulkomilev

ammend triggers
  .github/workflows/ci.yml
  tfx_addons/version.py
Owners: @casassg, @vulkomilev, @hanneshapke, @junbopark, @marcromeyn, @michalbrys, @pselden, @rclough

add tensorflow to the mix
  .github/ci/deps/requirements_max.in
  .github/ci/deps/requirements_min.in
  setup.py
Owners: @casassg, @vulkomilev, @hanneshapke, @junbopark, @marcromeyn, @michalbrys, @pselden, @rclough

tf 2.6
  .github/ci/deps/requirements_min.in
Owners: @casassg, @vulkomilev

move constraints to version file
  .github/ci/deps/requirements_max.in
  .github/ci/deps/requirements_min.in
  setup.py
  tfx_addons/version.py
Owners: @casassg, @vulkomilev, @hanneshapke, @junbopark, @marcromeyn, @michalbrys, @pselden, @rclough

pin api-core
  tfx_addons/version.py
Owners: @casassg, @hanneshapke, @junbopark, @marcromeyn, @michalbrys, @pselden, @rclough

add protobuf
  tfx_addons/version.py
Owners: @casassg, @hanneshapke, @junbopark, @marcromeyn, @michalbrys, @pselden, @rclough

protobuf 3.19
  tfx_addons/version.py
Owners: @casassg, @hanneshapke, @junbopark, @marcromeyn, @michalbrys, @pselden, @rclough

add mlp-sdk
  setup.py
  tfx_addons/version.py
Owners: @casassg, @hanneshapke, @junbopark, @marcromeyn, @michalbrys, @pselden, @rclough

add extras for api-core
  tfx_addons/version.py
Owners: @casassg, @hanneshapke, @junbopark, @marcromeyn, @michalbrys, @pselden, @rclough

add it to requirements instead
  .github/ci/deps/requirements_max.in
  .github/ci/deps/requirements_min.in
  .github/ci/deps/shared.txt
  tfx_addons/version.py
Owners: @casassg, @vulkomilev, @hanneshapke, @junbopark, @marcromeyn, @michalbrys, @pselden, @rclough

move feast dep
  .github/ci/deps/constrain.txt
  .github/ci/deps/requirements_max.in
  .github/ci/deps/requirements_min.in
  .github/ci/deps/shared.txt
  tfx_addons/version.py
Owners: @casassg, @vulkomilev, @hanneshapke, @junbopark, @marcromeyn, @michalbrys, @pselden, @rclough

use feast repo instead of release
  .github/ci/deps/constrain.txt
  .github/ci/deps/requirements_max.in
  .github/ci/deps/requirements_min.in
  setup.py
  tfx_addons/version.py
Owners: @casassg, @vulkomilev, @hanneshapke, @junbopark, @marcromeyn, @michalbrys, @pselden, @rclough

remove mlpipeline-sdk
  tfx_addons/version.py
Owners: @casassg, @hanneshapke, @junbopark, @marcromeyn, @michalbrys, @pselden, @rclough

Use feast from master git to avoid pip infinite backtrack (#152)
  .github/ci/deps/requirements_max.in
  .github/ci/deps/requirements_min.in
  .github/workflows/ci.yml
  setup.py
  tfx_addons/version.py
Owners: @casassg, @vulkomilev, @hanneshapke, @junbopark, @marcromeyn, @michalbrys, @pselden, @rclough

Use feast from master git to avoid pip infinite backtrack (#152)
  .github/ci/deps/requirements_max.in
  .github/ci/deps/requirements_min.in
  .github/workflows/ci.yml
  setup.py
  tfx_addons/version.py
Owners: @casassg, @vulkomilev, @hanneshapke, @junbopark, @marcromeyn, @michalbrys, @pselden, @rclough

Updated readme with module file guidelines and example (#151)
  tfx_addons/feature_selection/README.md
Owners: @nirzu97, @pratishtha-abrol, @FatimahAdwan, @deutranium

bump feast version support
  tfx_addons/version.py
Owners: @casassg, @hanneshapke, @junbopark, @marcromeyn, @michalbrys, @pselden, @rclough
